/code/biz/common/.classpath
/code/biz/common/.project
/code/biz/common/.settings
/code/biz/common/target

/code/biz/core/.classpath
/code/biz/core/.project
/code/biz/core/.settings
/code/biz/core/target

/code/bundle/war/.classpath
/code/bundle/war/.project
/code/bundle/war/.settings
/code/bundle/war/target

/code/deploy/target
/code/deploy/.classpath
/code/deploy/.project
/code/deploy/.settings

/code/templates/.classpath
/code/templates/.project
/code/templates/.settings
/code/templates/target

/code/web/inter/.classpath
/code/web/inter/.project
/code/web/inter/.settings
/code/web/inter/target

/code/web/common/.classpath
/code/web/common/.project
/code/web/common/.settings
/code/web/common/target
