<div class="pagination" id="pagination">
	#parse("/common/bops/_pagination.vm")
	<form method="get" action="$searchUrl" id="form_page">
		<input type="hidden" name="userId" value="$!userId" />
		<input type="hidden" name="userName" value="$!userName" />
		
		<div class="page-op">
    		<span class="total-page">共 $totalPages 页</span>第<input type="text" name="page" value="$!curPage">页
    		<input type="submit" value="确定">
    	</div>
    </form>
</div>